# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE
.idea
.bloop
.metals

# Git secret
.gitsecret/keys/random_seed
!*.secret
secrets-env.sh
*secrets.yaml
/.bsp/
.DS_STORE

# front-end

# dependencies
frontend/node_modules

# testing

frontend/coverage

# production
frontend/build

# misc
.DS_Store
frontend/.env
frontend/npm-debug.log
frontend/.idea